In [0]:
%sql
-- 1. Creamos una tabla temporal con datos de ejemplo
CREATE OR REPLACE TEMPorary VIEW productos_por_categoria AS
SELECT * FROM VALUES
  ('Fruta', 'Manzana'),
  ('Fruta', 'Banana'),
  ('Fruta', 'Kiwi'),
  ('Lácteos', 'Leche'),
  ('Lácteos', 'Yogur'),
  ('Lácteos', 'Queso'),
  ('Helados', 'Vainilla'),
  ('Helados', 'Fresa'),
  ('Helados', 'Chocolate')
AS t(categoria, producto);

-- 2. Consultamos agrupando por categoría y concatenando los nombres de producto
SELECT
  categoria,
  STRING_AGG(producto, ', ') AS lista_productos
FROM productos_por_categoria
GROUP BY categoria;